<template>
  <div class="calendar container">
    <div class="center-align calendar-header">
      <font-awesome-icon
        icon="chevron-left"
        @click="subtractMonth"
        fixed-width
      />
      <h4 style="display: inline-block;">{{month.name + ' - ' + year}}</h4>
      <font-awesome-icon
        icon="chevron-right"
        @click="addMonth"
        fixed-width
      />
    </div>
    <div class="calendar-grid">
      <div class="dates">
        <div
          v-for="day in days"
          :key="day"
        >{{day}}</div>
        <!-- eslint-disable-next-line vue/no-unused-vars vue/require-v-for-key -->
        <div v-for="_ in firstDayOfMonth"> - </div>
        <div
          v-for="date in daysInMonth"
          class="day center-align"
          :key="date"
          :class="{'current-day purple': date == initialDate && month.name == initialMonth && year == initialYear}"
        >
          <span>
            <router-link
              :to="{ name: 'singleDay', params: { year: year, month: month.number, day: date }}"
              :class="date == initialDate && month.name == initialMonth && year == initialYear ? 'grey-text text-lighten-5' : 'purple-text'"
            >
              {{date}}
            </router-link>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s4"><a href="#overdues">Overdues</a></li>
          <li class="tab col s4"><a class="active" href="#todays">Todays</a></li>
          <li class="tab col s4"><a href="#upcomings">Upcomings</a></li>
        </ul>
      </div>
      <div
        id="overdues"
        class="col s12"
      >
        <ul class="collapsible" v-if="overdueTasks.length > 0">
          <li
            v-for="task in overdueTasks"
            :key="task.dataValues.id"
          >
            <div class="collapsible-header">
              <i class="material-icons">check_box_outline_blank</i>{{ task.dataValues.task }}
            </div>
            <div class="collapsible-body">
              <p>
                {{ task.dataValues.description }}
              </p>
              <span class="row">
                <button
                  class="col s4 btn btn-small red"
                  @click="deleteTask(task.dataValues.id)"
                >Delete</button>
                <button
                  class="col offset-s4 s4 btn btn-small"
                  :class="task.dataValues.done ? 'orange' : 'green'"
                  @click="toggleTaskStatus(task.dataValues.id)"
                >{{ task.dataValues.done ? 'UnDone' : 'Done' }}</button>
              </span>
              <p class="red-text text-lighten-2">Date: {{ task.dataValues.date }}</p>
            </div>
          </li>
        </ul>
        <div class="center-align" v-else>No Tasks Found!</div>
      </div>
      <div
        id="todays"
        class="col s12"
      >
        <ul class="collapsible" v-if="todayTasks.length > 0">
          <li
            v-for="task in todayTasks"
            :key="task.dataValues.id"
          >
            <div class="collapsible-header">
              <i
                class="material-icons"
                v-if="task.dataValues.done"
              >check_box</i>
              <i
                class="material-icons"
                v-else
              >check_box_outline_blank</i>
              {{ task.dataValues.task }}
            </div>
            <div class="collapsible-body">
              <p>
                {{ task.dataValues.description }}
              </p>
              <span class="row">
                <button
                  class="col s4 btn btn-small red"
                  @click="deleteTask(task.dataValues.id)"
                >Delete</button>
                <button
                  class="col offset-s4 s4 btn btn-small"
                  :class="task.dataValues.done ? 'orange' : 'green'"
                  @click="toggleTaskStatus(task.dataValues.id)"
                >{{ task.dataValues.done ? 'UnDone' : 'Done' }}</button>
              </span>
            </div>
          </li>
        </ul>
        <div class="center-align" v-else>No Tasks Found!</div>
      </div>
      <div
        id="upcomings"
        class="col s12"
      >
        <ul class="collapsible" v-if="upcomingTasks.length > 0">
          <li
            v-for="task in upcomingTasks"
            :key="task.dataValues.id"
          >
            <div class="collapsible-header">
              <i
                class="material-icons"
                v-if="task.dataValues.done"
              >check_box</i>
              <i
                class="material-icons"
                v-else
              >check_box_outline_blank</i>
              {{ task.dataValues.task }}
            </div>
            <div class="collapsible-body">
              <p>
                {{ task.dataValues.description }}
              </p>
              <span class="row">
                <button
                  class="col s4 btn btn-small red"
                  @click="deleteTask(task.dataValues.id)"
                >Delete</button>
                <button
                  class="col offset-s4 s4 btn btn-small"
                  :class="task.dataValues.done ? 'orange' : 'green'"
                  @click="toggleTaskStatus(task.dataValues.id)"
                >{{ task.dataValues.done ? 'UnDone' : 'Done' }}</button>
              </span>
              <p class="blue-text text-lighten-2">Date: {{ task.dataValues.date }}</p>
            </div>
          </li>
        </ul>
        <div class="center-align" v-else>No Tasks Found!</div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment-jalaali'
import MaterializeCSS from 'materialize-css'

export default {
  data () {
    return {
      today: moment(),
      dateContext: moment(),
      days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
      overdueTasks: [],
      todayTasks: [],
      upcomingTasks: []
    }
  },
  computed: {
    year () {
      return this.dateContext.format('Y')
    },
    month () {
      return {
        name: this.dateContext.format('MMMM'),
        number: this.dateContext.format('MM')
      }
    },
    daysInMonth () {
      return this.dateContext.daysInMonth()
    },
    currentDate () {
      return this.dateContext.get('date')
    },
    firstDayOfMonth () {
      let firstDay = moment(this.dateContext).subtract(
        this.currentDate - 1,
        'days'
      )
      return firstDay.weekday()
    },
    initialDate () {
      return this.today.get('date')
    },
    initialMonth () {
      return this.today.format('MMMM')
    },
    initialYear () {
      return this.today.format('Y')
    },
    M () {
      return MaterializeCSS
    }
  },
  methods: {
    addMonth () {
      this.dateContext = moment(this.dateContext).add(1, 'month')
    },
    subtractMonth () {
      this.dateContext = moment(this.dateContext).subtract(1, 'month')
    },
    initializeTabs () {
      let el = document.querySelector('.tabs')
      this.M.Tabs.init(el)
    },
    getOverdueTasks () {
      this.$models.TaskModel.findAll({
        where: {
          date: {
            [this.$db.Op.lt]: new Date()
          },
          done: false
        }
      }).then(tasks => {
        this.overdueTasks = tasks.slice()
      })
    },
    getTodaysTasks () {
      this.$models.TaskModel.findAll({
        where: {
          date: {
            [this.$db.Op.eq]: new Date()
          }
        }
      }).then(tasks => {
        this.todayTasks = tasks.slice()
      })
    },
    getUpcomingTasks () {
      this.$models.TaskModel.findAll({
        where: {
          date: {
            [this.$db.Op.gt]: new Date()
          },
          done: false
        }
      }).then(tasks => {
        this.upcomingTasks = tasks.slice()
      })
    },
    getTasks () {
      this.getOverdueTasks()
      this.getTodaysTasks()
      this.getUpcomingTasks()
    },
    initializeCollapsibles () {
      let elements = document.querySelectorAll('.collapsible')
      this.M.Collapsible.init(elements)
    },
    toggleTaskStatus (taskId) {
      this.$models.TaskModel.findByPk(taskId).then(task => {
        task
          .update({
            done: !task.dataValues.done
          })
          .then(() => this.getTasks())
      })
    },
    deleteTask (taskId) {
      this.$models.TaskModel.findByPk(taskId).then(task => {
        task.destroy().then(() => this.getTasks())
      })
    }
  },
  mounted () {
    this.initializeTabs()
    this.getTasks()
  },
  updated () {
    this.initializeCollapsibles()
  }
}
</script>

<style>
.calendar-grid {
  text-align: center;
}
.dates {
  justify-items: center;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(
    7,
    22px
  ); /*20px 20px 20px 20px 20px 20px 20px;*/
  border-color: #ececec;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 0;
}
.day {
  padding: 4px;
}
.current-day {
  color: red;
  border-radius: 100%;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(178, 213, 246, 0.2);
    outline: none;
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #6ebbee;
}
.tabs .tab a {
    color: rgba(110, 197, 238, 0.7);
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #b2c4f6;
    will-change: left, right;
}
</style>
