<template>
  <div class="container">
    <div class="fixed-action-btn">
      <a
        class="btn-floating btn-large red"
        style="font-size: 1.5rem;"
      >
        <font-awesome-icon
          icon="ellipsis-v"
          size="lg"
        />
      </a>
      <ul>
        <li>
          <a
            class="btn-floating blue"
            href="#"
            @click.prevent="$router.push('/')"
          >
            <font-awesome-icon icon="calendar-alt" />
          </a>
        </li>
        <li>
          <a
            @click.prevent="goPreviousDay()"
            class="btn-floating yellow"
            href="#"
          >
            <font-awesome-icon icon="chevron-left" />
          </a>
        </li>
        <li>
          <a
            @click.prevent="goNextDay()"
            class="btn-floating green"
            href="#"
          >
            <font-awesome-icon icon="chevron-right" />
          </a>
        </li>
      </ul>
    </div>
    <h1 class="center-align">{{ date.format('YYYY/MM/DD') }}</h1>
    <div class="row">
      <div class="col s6">
        <h4>Tasks: </h4>
        <ul
          class="collapsible"
          v-if="todayTasks.length > 0"
        >
          <li
            v-for="task in todayTasks"
            :key="task.dataValues.id"
          >
            <div class="collapsible-header">
              <i
                class="material-icons"
                v-if="task.dataValues.done"
              >
                check_box
              </i>
              <i
                class="material-icons"
                v-else
              >
                check_box_outline_blank
              </i>
              {{ task.dataValues.task }}
            </div>
            <div class="collapsible-body">
              <p>
                {{ task.dataValues.description }}
              </p>
              <span class="row">
                <button
                  class="col s4 btn btn-small red"
                  @click.prevent="deleteTask(task.dataValues.id)"
                >
                  Delete
                </button>
                <button
                  class="col offset-s4 s4 btn btn-small"
                  :class="task.dataValues.done ? 'orange' : 'green'"
                  @click.prevent="toggleTaskStatus(task.dataValues.id)"
                >
                  {{ task.dataValues.done ? 'UnDone' : 'Done' }}
                </button>
              </span>
            </div>
          </li>
        </ul>
        <div
          class="center-align"
          v-else
        >
          <p>You have no tasks for this day!</p>
        </div>
      </div>
      <div class="col s6">
        <h4>Add a New Task</h4>
        <form @submit.prevent="addTask">
          <div
            style="display: none;"
            class="input-field"
          >
            <input
              id="dateInput"
              type="date"
              readonly
              v-model="newTask.date"
              required
            >
            <label for="dateInput">Task's Date</label>
          </div>
          <div class="input-field">
            <input
              type="text"
              v-model="newTask.task"
              required
            >
            <label for="taskInput">Task's Name</label>
          </div>
          <div class="input-field">
            <textarea
              class="materialize-textarea"
              id="taskDesc"
              name="taskDesc"
              cols="30"
              rows="10"
              v-model="newTask.description"
            ></textarea>
            <label for="taskDesc">Task's Description</label>
          </div>
          <div class="center-align">
            <button
              type="submit"
              class="btn purple waves-effect waves-light"
            >Add Task!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment-jalaali'
import MaterializeCSS from 'materialize-css'
export default {
  data () {
    return {
      date: moment(
        this.$route.params.year +
          '/' +
          this.$route.params.month +
          '/' +
          this.$route.params.day,
        'YYYY/MM/D'
      ),
      newTask: {
        date: null,
        task: null,
        description: null
      },
      todayTasks: [],
      menuInstance: null
    }
  },
  computed: {
    M () {
      return MaterializeCSS
    }
  },
  watch: {
    $route: function () {
      this.date = moment(
        this.$route.params.year +
          '/' +
          this.$route.params.month +
          '/' +
          this.$route.params.day,
        'YYYY/MM/D'
      )
      this.newTask = {
        date: null,
        task: null,
        description: null
      }
      this.todayTsks = []
      this.menuInstance = null
      this.getTasks()
      this.initializeMenu()
      this.setNewTasksDate()
      this.initializeCollapsible()
    }
  },
  methods: {
    initializeMenu () {
      let elements = document.querySelectorAll('.fixed-action-btn')
      this.menuInstance = this.M.FloatingActionButton.init(elements, {
        hoverEnabled: true
      })
    },
    initializeCollapsible () {
      let elements = document.querySelectorAll('.collapsible')
      this.M.Collapsible.init(elements, {})
    },
    setNewTasksDate () {
      this.newTask.date = this.date.format('YYYY-MM-DD')
    },
    addTask () {
      let _this = this
      this.$models.TaskModel.create(this.newTask)
        .then(obj => {
          console.log(obj)
          _this.newTask = {
            date: null,
            task: null,
            desc: null
          }
          this.setNewTasksDate()
          this.todayTasks.push(obj)
        })
        .catch(e => console.log(e))
    },
    toggleTaskStatus (taskId) {
      this.$models.TaskModel.findByPk(taskId).then(task => {
        task
          .update({
            done: !task.dataValues.done
          })
          .then(() => this.getTasks())
      })
    },
    deleteTask (taskId) {
      this.$models.TaskModel.findByPk(taskId).then(task => {
        task.destroy().then(() => {
          this.getTasks()
        })
      })
    },
    getTasks () {
      this.todayTasks = []
      this.$models.TaskModel.findAll({
        where: {
          date: this.date
        }
      }).then(data => {
        data.forEach(task => {
          this.todayTasks.push(task)
        })
      })
    },
    goNextDay () {
      this.goTo(this.date.add(1, 'd'))
    },
    goPreviousDay () {
      this.goTo(this.date.subtract(1, 'd'))
    }
  },
  mounted () {
    this.getTasks()
    this.initializeMenu()
    this.setNewTasksDate()
  },
  updated () {
    this.initializeCollapsible()
  }
}
</script>

<style>
</style>
