<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 't-cal'
  }
</script>

<style>
@import '~materialize-css/dist/css/materialize.min.css';
@import '~material-design-icons/iconfont/material-icons.css';
  /* CSS */
</style>
